body{
    background:rgb(112, 110, 110);
    font:normal 18pt Arial;
}header{
    color:white;
    text-align: center;
}section{
    background:rgb(255, 255, 255);
    border-radius: 10px;
    padding:15px;
    width:500px;
    margin:auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.377);
}footer{
    color:white;
    text-align: center;
    font-style: italic;
}div{
    text-align: center;
}h3{
    text-align: center;
    font:normal 10pt Arial;
}


.section2{
    background:rgb(255, 255, 255);
    border-radius: 10px;
    padding:20px;
    width:310px;
    margin-left: 24cm;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.377);
}
.div2{
    text-align: center;
    
}

.textinhos{
    color:white;
    text-align: left;
}