body{
    background:rgb(131, 131, 255);
    font:normal 15pt Arial;
}header{
    color:white;
    text-align: center;
}section{
    background:white;
    border-radius: 10px;
    padding:15px;
    width:500px;
    margin:auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.377);
}footer{
    color:white;
    text-align: center;
    font-style: italic;
}div{
    text-align: center;
    padding: 8px;
}
h1{
    color: red;
}h2{
    color:blueviolet;
}p{
    color: red;
}p1{
    color: rgb(0, 255, 21);
}p2{
    color: rgb(0, 255, 221);
}