/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo com tema escuro */
body {
    font-family: 'Arial', sans-serif;
    background-color: #0D0D0D;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alinhamento à esquerda */
    height: 100vh;
    padding: 0 20px;
}

/* Estilo do menu de navegação */
header nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header ul li a {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 14px;
    transition: color 0.3s;
}

header ul li .number {
    color: #00ff99;
    font-weight: bold;
}

header ul li a:hover {
    color: #00ff99;
}


.cta-button, a[href="photography/index.html"] {
    border: 1px solid #00ff99;
    padding: 10px 20px;
    border-radius: 5px;
    color: #00ff99;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 15px;
}

.cta-button:hover, a[href="photography/index.html"]:hover {
    background-color: #00ff99;
    color: #0D0D0D;
}

/* Estilo sem borda para "LinkedIn" e "GitHub" */
a[href*="linkedin"], a[href*="github"] {
    text-decoration: none;
    color: #e0e0e0;
}

a[href*="linkedin"]:hover, a[href*="github"]:hover {
    color: #00ff99;
}

/* Seção de introdução */
.intro {
    text-align: left;
    max-width: 700px;
    padding-left: 20px;
}

.intro h1 {
    font-size: 48px;
    color: #00ff99;
    margin-bottom: 10px;
}

.intro h2 {
    font-size: 36px;
    color: #e0e0e0;
    margin-bottom: 20px;
}

.intro p {
    font-size: 18px;
    color: #a0a0a0;
    margin-bottom: 20px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .intro h1 {
        font-size: 36px;
    }

    .intro h2 {
        font-size: 28px;
    }

    .intro p {
        font-size: 16px;
    }
}

/* Palavras girando */

.skills-circle {
    position: absolute;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.circle-container {
    position: relative;
    width: 100%;
    height: 100%;
    animation: rotate 20s infinite linear;
    transform-style: preserve-3d;
}

.circle-container span {
    position: absolute;
    transform-origin: 350px 0;
    font-size: 12px;
    opacity: 1;
    color: #00ff99;
    text-shadow: 1px 1px 2px #000;
}

.circle-container span:nth-child(1) { transform: rotateY(0deg) translateZ(250px); }
.circle-container span:nth-child(2) { transform: rotateY(30deg) translateZ(250px); } 
.circle-container span:nth-child(3) { transform: rotateY(60deg) translateZ(250px); }
.circle-container span:nth-child(4) { transform: rotateY(90deg) translateZ(250px); }
.circle-container span:nth-child(5) { transform: rotateY(120deg) translateZ(250px); }
.circle-container span:nth-child(6) { transform: rotateY(150deg) translateZ(250px); }
.circle-container span:nth-child(7) { transform: rotateY(180deg) translateZ(250px); }
.circle-container span:nth-child(8) { transform: rotateY(210deg) translateZ(250px); }
.circle-container span:nth-child(9) { transform: rotateY(240deg) translateZ(250px); }
.circle-container span:nth-child(10) { transform: rotateY(270deg) translateZ(250px); }



@keyframes rotate {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(260deg); }
}

