body {
    background-color: #1b1b1b;
    color: #00ff99;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #111;
    width: 100%;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #00ff99;
    text-shadow: 2px 2px 5px #000;
}

.highlight {
    color: #00ff99;
    font-weight: bold;
}

p {
    color: #ccc;
    font-size: 1.2rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    width: 80%;
}

.banner {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.banner:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 255, 153, 0.8);
}

.banner img {
    max-width: 100%;
    height: auto;
    display: block;
}

.banner h2 {
    text-align: center;
    background-color: #333;
    color: #00ffab;
    padding: 10px;
    margin: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #111;
    color: #ccc;
    width: 100%;
}


footer .highlight {
    color: #00ff99;
    font-weight: bold;
}


a {
    color: #00ff99;
    text-decoration: none;
}

a:hover {
    color: #00ffab; /* Cor quando o mouse passa sobre o link */
}

a:visited {
    color: #00ffab; /* Cor para links visitados */
}
