body {
    background: #ffcccc; /* Vermelho pastel para o fundo */
    color: #333; /* Tom de cinza escuro para o texto */
    font: normal 18pt Arial;
}header{
    color:white;
    text-align: center;
}section {
    background: #ffcccc; /* Mesma cor do fundo do body */
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    margin-top: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.377);
}footer{
    color:white;
    text-align: center;
    font-style: italic;
}div{
    text-align: center;
}h3{
    text-align: center;
    font:normal 10pt Arial;
}


.section2{
    background:rgb(255, 255, 255);
    border-radius: 15px;
    padding:20px;
    width:310px;
    margin-right: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.377);
}
.div2{
    margin-top: 1px;
    
}

.textinhos{
    color:white;
    text-align: left;
}

.link {
    background-color: #b0c4de; /* Azul pastel para os links */
    padding: 2px;
    color: #333; /* Tom de cinza escuro para o texto dos links */
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.377);
    margin: 3px;
}